# Linker configuration for salsun2d_band_kernel on Alveo U250, SLR2
#
# Alternative to salsun2d_band_kernel.cfg for designs that congest SLR0:
# SLR2 holds less of the static shell, and DDR[2] is in SLR2. The placer
# spreads the logic to relieve the congestion.

[connectivity]
nk=salsun2d_band_kernel:1
slr=salsun2d_band_kernel_1:SLR2
sp=salsun2d_band_kernel_1.src:DDR[2]
sp=salsun2d_band_kernel_1.params:DDR[2]
sp=salsun2d_band_kernel_1.stats_in:DDR[2]
sp=salsun2d_band_kernel_1.dst:DDR[2]
sp=salsun2d_band_kernel_1.stats_out:DDR[2]

[vivado]
prop=run.impl_1.STEPS.PLACE_DESIGN.ARGS.DIRECTIVE=Congestion_SpreadLogic_high
prop=run.impl_1.STEPS.ROUTE_DESIGN.ARGS.DIRECTIVE=AlternateCLBRouting
